.categories {
  opacity: 1;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 55px);
  flex-wrap: nowrap;

  @include response-to(small) {
    width: calc(100% - 40px);
  }

  &__item {
    border-radius: 5px;
    background-color: transparent;
    @include transition-ease;
    cursor: pointer;
    position: relative;

    @include on-event {
      background-color: #d1d1d1;
    }
    
    @include response-to(medium) {
      background-color: #eaeaea;
    }

    @include response-to(small) {
      background-color: unset;
      border: unset;
      margin: 0 10px;
    }

    &.active {
      background-color: #d1d1d1;

      @include response-to(medium) {
        border: 1px solid #777;
      }

      @include response-to(small) {
        background-color: unset;
        border: unset;
      }


      & .categories__item_link {

        @include response-to(small) {
          background-color: #d1d1d1;
          border: 1px solid #777;
        }
      }
    }

    &_link {
      font-size: 24px;
      font-weight: 300;
      padding: 0 5px 5px;
      display: block;
      color: $grey-color;
      white-space: nowrap;
      @include transition-ease;

      @include response-to(small) {
        font-size: 18px;
        width: fit-content;
        margin: 0 auto;
        background-color: #eaeaea;
        border-radius: 5px;
      }
    }

    &:hover {

      & .more-categories {
        z-index: 100;
        opacity: 1;
      }
    }

    & .more-categories {
      padding-bottom: 10px;
      background-color: #fff;
      position: absolute;
      top: 100%;
      z-index: -100;
      opacity: 0;
      @include transition-ease;
      border-radius: 0 0 10px 10px;
      border-bottom: 1px solid #999;
      width: 100%;

      & .categories__item {
        margin: 0;
        width: 100%;
      }
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  margin-top: 27px;
}

.favorites {
  width: 30px;
  height: 30px;
  margin-right: 25px;
  cursor: pointer;
  background-image: url('../../img/heart_fill.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 3px;
  position: relative;

  @include response-to(small) {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    margin-bottom: 7px;
  }

  &:before {
    position: absolute;
    content: 'Favorite dishes';
    max-width: 100px;
    background-color: #fff;
    display: block;
    color: #fc3037;
    font-size: 14px;
    top: 100%;
    left: 50%;
    opacity: 0;
    z-index: -100;
    transform: translateX(-50%);
    text-align: center;
    @include transition-ease;
  }

  @include on-event {
    &:before {
      opacity: 1;
      z-index: 100;
    }
  }
}

.favorites-page {
  margin-top: 30px;
}