.categories {
  opacity: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
  margin-top: 27px;

  &__item {
    border-radius: 5px;
    background-color: transparent;
    @include transition-ease;
    cursor: pointer;
    position: relative;

    @include on-event {
      background-color: #d1d1d1;
    }
    
    @include response-to(medium) {
      background-color: #eaeaea;
    }

    @include response-to(small) {
      background-color: unset;
      border: unset;
      margin: 0 10px;
    }

    &.active {
      background-color: #d1d1d1;

      @include response-to(medium) {
        border: 1px solid #777;
      }

      @include response-to(small) {
        background-color: unset;
        border: unset;
      }


      & .categories__item_link {

        @include response-to(small) {
          background-color: #d1d1d1;
          border: 1px solid #777;
        }
      }
    }

    &_link {
      font-size: 24px;
      font-weight: 300;
      padding: 0 5px 5px;
      display: block;
      color: $grey-color;
      white-space: nowrap;
      @include transition-ease;

      @include response-to(small) {
        font-size: 18px;
        width: fit-content;
        margin: 0 auto;
        background-color: #eaeaea;
        border-radius: 5px;
      }
    }

    &:hover {

      & .more-categories {
        z-index: 100;
        opacity: 1;
      }
    }

    & .more-categories {
      padding-bottom: 10px;
      background-color: #fff;
      position: absolute;
      top: 100%;
      z-index: -100;
      opacity: 0;
      @include transition-ease;
      border-radius: 0 0 10px 10px;
      border-bottom: 1px solid #999;
      width: 100%;

      & .categories__item {
        margin: 0;
        width: 100%;
      }
    }
  }
}