.add-form {
  max-width: 410px;
  width: 100%;

  @include response-to(small) {
    margin-bottom: 35px;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 80px;
    text-align: center;

    @include response-to(small) {
      margin-bottom: 20px;
    }
  }

  &__wrap {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 30px 25px;
    margin-bottom: 20px;
  }

  &__formgroup {
    position: relative;
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    & label {
      font-size: 18px;
      font-weight: 500;
      left: 16px;
    }

    & textarea {
      min-height: 102px;
      resize: vertical;
      font-family: $roboto;
    }

    & span.error {
      position: absolute;
      bottom: 100%;
      color: red;
      font-size: 12px;
      left: 0;
    }
  }

  &__input {
    width: 100%;
    background: #C4C4C4;
    border-radius: 5px;
    padding: 11px 16px;
    font-size: 18px;
    font-weight: 500;

    &::placeholder {
      font-size: 18px;
      font-weight: 500;
      font-family: $roboto;
    }

    &.error {
      border: 1px solid red;
    }
  }

  &__btn {
    width: 100%;
    display: block;
    text-align: center;
    background: #C4C4C4;
    border-radius: 5px;
    padding: 9px 0;
    font-weight: bold;
    font-size: 24px;
    border: none;
    cursor: pointer;
  }
}

.settings {

  &__form {
    max-width: 452px;
    width: 100%;
    margin: 0 auto;

    @include response-to(small) {
      width: 90%;
    }

    &_title {
      font-weight: 500;
      margin-bottom: 20px;
    }

    &group {
      margin-bottom: 20px;
      width: 100%;
      position: relative;

      & input {
        display: block;
        width: 100%;
        padding: 18px 20px;
        border: 1px solid #000;
        border-radius: 5px;
        font-size: 24px;
        font-weight: 500;

        @include response-to(small) {
          font-size: 18px;
        }
      }

      & label {
        left: 20px;
      }
    }

    & button {
      background: #E2E2E2;
      border-radius: 5px;
      display: block;
      width: 100%;
      cursor: pointer;
      text-align: center;
      font-size: 24px;
      padding: 18px 0;
      border: none;
      font-weight: 500;
      @include transition-ease;
      margin-bottom: 20px;

      @include on-event {
        background: darken(#E2E2E2, 10);
      }

      @include response-to(small) {
        font-size: 18px;
      }
    }
  }
}

input,
textarea {

  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-family: $roboto;
  }

  &:focus::placeholder {
    color: transparent;
  }

  &:focus + label {
    opacity: 1;
    z-index: 2;
    font-size: 10px;
    top: 1px;
    transform: unset;
  }
}

label {
  position: absolute;
  z-index: -2;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

