$breakpoints: (
        small: 767px,
        medium: 992px,
        large: 1182px,
        huge: 1540px
);

$pink-color: #FE6A6A;

$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif;

$container: 1170px;
