.footer {
  padding-top: 50px;
  padding-bottom: 82px;
  margin-top: 60px;

  @include response-to(small) {
    margin-top: 25px;
  }

  &__text-block {

    &:first-of-type {
      margin-bottom: 18px;
    }

    &:last-of-type {
      margin-bottom: 34px;
    }
  }

  &__caption {
    margin-bottom: 13px;
    font-size: 24px;
    font-weight: 500;
  }

  &__text {
    font-size: 18px;
    font-weight: 300;
  }

  &__copyright {
    border-top: 1px solid #eee;
    padding-top: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;

    &_bold {
      font-weight: 500;
    }

    &_link {
      color: #54cc61;
      font-weight: 500;

      @include on-event {
        text-decoration: underline;
      }
    }
  }
}